.points-box {
  position: fixed;
  bottom: 220px;
  left: 50%;
  transform: translateX(-50%);
  width: 700px;
  padding: 40px;
  background-color: #e1f0ff;
  border-radius: 50px 50px 0 0;
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-weight: bold;
  color: #1b3f5e;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.rank {
  flex: 0 0 50px;
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
}

.team-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: bolder;
}

.rank {
  text-align: left;
  font-size: 36px;
  margin-right: 30px;
}

.team-name {
  text-align: left;
  margin-right: 20px;
  flex: 2; 
}

.points {
  text-align: right;
  font-size: 36px;
}
