.match-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 280px;
  left: 450px;
  width: 50%;
}

.match-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px 0;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', sans-serif;
  color: rgb(27, 63, 94);
  font-weight:normal;
  border-bottom: 2px solid rgba(27, 63, 94, 0.7);
  position: relative;
}

.team-left, .team-right {
  flex: 1;
  color: rgb(27, 63, 94);
  padding: 0 20px;
}

.team-left {
  text-align: right;
  padding-right: 100px;
}

.team-right {
  text-align: left;
  padding-left: 160px;
}

.time-box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 5px 25px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 35px;
  color: rgb(15, 38, 61);
  z-index: 1;
}
